@font-face {
	font-family: 'Open-Sans';
	src: url('../fonts/tecnilogica/OpenSans-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
	font-family: 'Open-Sans-Light';
	src: url('../fonts/tecnilogica/OpenSans-Light.ttf') format('truetype');
    font-style:normal;
}
@font-face {
	font-family: 'Open-Sans';
	src: url('../fonts/tecnilogica/OpenSans-Bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;

}
@font-face {
	font-family: 'Open-Sans';
    src: url('../fonts/tecnilogica/OpenSans-Regular.eot');
    font-weight:normal;
    font-style:normal;
}

@font-face {
	font-family: 'Open-Sans-Light';
    src: url('../fonts/tecnilogica/OpenSans-Light.eot');
    font-style:normal;
}
@font-face {
	font-family: 'Open-Sans';
    src: url('../fonts/tecnilogica/OpenSans-Bold.eot');
    font-weight:bold;
    font-style:normal;

}