$tecni-color: #ed7a2f;
$dark-grey: #464646;
$break-small: 660px;
$break-large: 1300px;
$font-xsmall: 0.5em;
$font-small: 1em;
$font-medium: 2em;
$font-large: 3em;
$break-boot-xxxxs: 510px;
$break-boot-xxxs: 550px;
$break-boot-xxs: 640px;
$break-boot-xs: 767px;
$break-boot-sm: 768px;
$break-boot-sm-2: 991px;
$break-boot-md: 992px;
$break-boot-lg: 1199px;
$break-boot-lg-2: 1200px;
$positivo-plus: #008000;
$positivo: #90EE90;
$neutral: #D3D3D3;
$negativo: #CD5C5C;
$negativo-plus: #FF0000;